showcase/json/07-부자재 일정점검 자동화.json
{
  "updatedAt": "2026-05-21T04:58:02.812Z",
  "createdAt": "2026-05-20T09:05:08.912Z",
  "id": "x2bgnojxsJ2sEYus",
  "name": "[콜마교육] #07 부자재 일정점검 자동화",
  "description": "매일 08:30 부자재 일정표를 읽어 AI가 납기예정일 미기입/불일치 항목을 식별하고, 이상 시 Gmail로 알림을 발송한다.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "b2b3ed99-bd10-41b8-82d9-91a90fb6c392",
      "name": "매일 08:30 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json['file-path'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "61362927-1459-44b4-89e8-008d385c1997",
      "name": "부자재 일정표 읽기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        112
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true
        }
      },
      "id": "ecd47bd6-f25d-4fdf-8d48-9a38f420ffd9",
      "name": "Excel 데이터 추출",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        592,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 부자재 일정표 데이터를 분석하라. 납기예정일이 미기입이거나 1차/2차 납기가 불일치하는 항목을 식별하라. 이상 항목이 있으면 alert_needed를 true로, 없으면 false로 설정하라.\n\n데이터:\n{{ JSON.stringify($json.data) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "당신은 콜마교육 부자재 일정점검 전문가입니다. 부자재 납기 데이터에서 납기예정일 미기입, 1차 납기와 2차 납기 불일치 등의 이상 항목을 정확히 식별하고, 담당자에게 보낼 알림 이메일을 작성합니다."
        }
      },
      "id": "45b6a484-2ed8-4200-a1ce-216f18bebda5",
      "name": "부자재 납기 점검",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1096,
        112
      ]
    },
    {
      "parameters": {
        "model": "grok-4.3",
        "options": {}
      },
      "id": "6b75c2fd-dd64-4944-b9d2-0cb4d1716c8f",
      "name": "xAI Grok Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1040,
        336
      ],
      "credentials": {
        "xAiApi": {
          "id": "gkMJxwUMH039B4V0",
          "name": "xAi mingi4754song private"
        }
      }
    },
    {
      "parameters": {},
      "id": "b7ffc98f-ad65-4bf5-9140-fe0cdd35d4ff",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1168,
        336
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"alert_needed\": true, \"summary\": \"이상 항목 요약\", \"email_subject\": \"알림 제목\", \"email_body\": \"알림 본문\" }"
      },
      "id": "dbc0bbbc-c30f-48c1-87d6-6ee2c7dbc66a",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1296,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output.alert_needed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f04f57c9-8cb3-49ca-a3da-67d04988ff83",
      "name": "알림 필요 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1504,
        112
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AM96C1G10",
          "mode": "list",
          "cachedResultName": "miles-test"
        },
        "text": "=*{{ $json.output.email_subject }}*\n{{ $json.output.email_body }}",
        "otherOptions": {}
      },
      "id": "4f53db74-6e9d-4d3f-9d2e-4657f20e50b2",
      "name": "이상 항목 알림 발송",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1728,
        112
      ],
      "webhookId": "bc38825a-883e-434e-b243-7e31decc011d",
      "credentials": {
        "slackApi": {
          "id": "uMdzErNvUxaoML3G",
          "name": "Slack miles-bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9df15b11-9c7c-46b9-aef2-1fec75bc146c",
              "name": "file-path",
              "value": "https://raw.githubusercontent.com/alsrl8/sample-files-for-n8n-practice/main/x2bgnojxsJ2sEYus-부자재-일정점검-자동화.xlsx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9b77a862-62f5-4591-aa95-131a0375edd7",
      "name": "일정표 위치 가져오기",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        112
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "486e44fd-3326-4be4-b585-dc2e2ff4d67a",
      "name": "데이터 집계",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        112
      ]
    },
    {
      "parameters": {
        "content": "## 1. 데이터 수집\n스케줄 트리거 → 파일 경로 설정 → 엑셀 읽기 → 데이터 추출 → 집계",
        "height": 256,
        "width": 1060,
        "color": 4
      },
      "id": "0d059b77-a283-4ab9-885b-061c1be38a32",
      "name": "Sticky Notef3f1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -114,
        16
      ]
    },
    {
      "parameters": {
        "content": "## 2. AI 분석\nAI Agent가 데이터를 분석하고 구조화된 결과를 반환",
        "height": 448,
        "width": 420,
        "color": 2
      },
      "id": "c5cb60a7-5cbd-45b1-8d3c-05a71790fc7b",
      "name": "Sticky Notef529",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        998,
        32
      ]
    },
    {
      "parameters": {
        "content": "## 3. 결과 전달\n조건 판단 후 Slack 채널로 알림 발송",
        "height": 272,
        "width": 344,
        "color": 5
      },
      "id": "75fbbeb9-064f-4c30-a1e6-55b0109cbb02",
      "name": "Sticky Notecad7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1492,
        0
      ]
    }
  ],
  "connections": {
    "매일 08:30 실행": {
      "main": [
        [
          {
            "node": "일정표 위치 가져오기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "부자재 일정표 읽기": {
      "main": [
        [
          {
            "node": "Excel 데이터 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel 데이터 추출": {
      "main": [
        [
          {
            "node": "데이터 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "부자재 납기 점검": {
      "main": [
        [
          {
            "node": "알림 필요 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "부자재 납기 점검",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "부자재 납기 점검",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "부자재 납기 점검",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "알림 필요 여부": {
      "main": [
        [
          {
            "node": "이상 항목 알림 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일정표 위치 가져오기": {
      "main": [
        [
          {
            "node": "부자재 일정표 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 집계": {
      "main": [
        [
          {
            "node": "부자재 납기 점검",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "24f7c915-f802-4293-81ce-bcd2fd2c8741",
  "activeVersionId": null,
  "versionCounter": 10,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-20T09:05:08.912Z",
      "createdAt": "2026-05-20T09:05:08.912Z",
      "role": "workflow:owner",
      "workflowId": "x2bgnojxsJ2sEYus",
      "projectId": "ncJWdNyuSg3UzANu",
      "project": {
        "updatedAt": "2026-04-15T05:07:55.862Z",
        "createdAt": "2026-04-15T02:45:24.795Z",
        "id": "ncJWdNyuSg3UzANu",
        "name": "민기 송 <miles@infograb.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "37174ab9-c289-40f8-bb1a-6354cc6c8870"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-21T02:30:41.851Z",
      "createdAt": "2026-05-21T02:30:41.851Z",
      "id": "zCqLTSWhITlFn4zB",
      "name": "kolma-openlab"
    }
  ],
  "activeVersion": null
}