showcase/json/11-온실가스 배출량 산정.json
{
  "updatedAt": "2026-05-21T04:53:15.618Z",
  "createdAt": "2026-05-20T09:04:42.560Z",
  "id": "YOPo1zt7dAoigTP1",
  "name": "[콜마교육] #11 온실가스 배출량 산정",
  "description": "Form으로 에너지 고지서 텍스트를 입력받아 Information Extractor로 에너지종류, 사용량, 금액, 공급사를 추출하고 Gmail로 결과를 전달한다.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "온실가스 배출량 산정",
        "formDescription": "전기 고지서 내용을 붙여넣으면 사용량과 배출량을 자동 산정합니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "시설명",
              "fieldName": "facility_name",
              "requiredField": true
            },
            {
              "fieldLabel": "고지서 내용",
              "fieldType": "textarea",
              "fieldName": "invoice_text",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "dd78c357-5c9d-465b-b421-a0feb83ab20f",
      "name": "고지서 입력",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        208
      ],
      "webhookId": "b16f0ce3-2758-4de2-9ccf-dddfa252c8a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cc449d9-0ba1-42c0-b1ce-4e0f7e2f162e",
              "name": "facility",
              "value": "={{ $json.facility_name }}",
              "type": "string"
            },
            {
              "id": "8a5d5dc7-c63a-4afa-883d-51bc043170b3",
              "name": "invoice",
              "value": "={{ $json.invoice_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "23e1bf1c-6190-45e2-b9cc-50bc4cbca5ba",
      "name": "입력 정리",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "text": "=시설명: {{ $json.facility }}\n\n고지서 원문:\n{{ $json.invoice }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{ \"facility\": \"세종공장\", \"period\": \"2026-04\", \"total_kwh\": 162000, \"peak_kwh\": 35000, \"mid_kwh\": 82000, \"off_peak_kwh\": 45000, \"total_amount\": 22254400, \"due_date\": \"2026-05-15\" }",
        "options": {
          "systemPromptTemplate": "전기 고지서 텍스트에서 다음 정보를 정확히 추출하세요:\n- 시설명, 검침기간, 총 사용량(kWh), 경부하/중간부하/최대부하 각각의 사용량, 합계 금액, 납기일\n사용량은 숫자만(단위 제외), 금액은 원 단위 정수로 추출하세요."
        }
      },
      "id": "5d6d7aa0-07a4-4dbd-8aee-3f7fccd7bf3f",
      "name": "고지서 정보 추출",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "model": "grok-4.3",
        "options": {}
      },
      "id": "78bafe73-67f1-417b-910f-12216240f823",
      "name": "xAI Grok 모델",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        520,
        432
      ],
      "credentials": {
        "xAiApi": {
          "id": "gkMJxwUMH039B4V0",
          "name": "xAi mingi4754song private"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31f0cd2b-faaf-4d26-8458-e39293ad7425",
              "name": "facility",
              "value": "={{ $json.output.facility }}",
              "type": "string"
            },
            {
              "id": "c5f4794b-657a-4276-a851-b88cae894ad0",
              "name": "period",
              "value": "={{ $json.output.period }}",
              "type": "string"
            },
            {
              "id": "e31de9b0-363a-4b39-b6d8-30240cdbc294",
              "name": "total_kwh",
              "value": "={{ $json.output.total_kwh }}",
              "type": "number"
            },
            {
              "id": "983b0d03-5985-493f-9097-99098857bff0",
              "name": "co2_tons",
              "value": "={{ Math.round($json.output.total_kwh * 0.4781 / 1000 * 100) / 100 }}",
              "type": "number"
            },
            {
              "id": "72054f64-243c-4a62-b50e-bf308b75633c",
              "name": "total_amount",
              "value": "={{ $json.output.total_amount }}",
              "type": "number"
            },
            {
              "id": "c3464629-d599-4228-b32c-eaa35af65f4d",
              "name": "exceeds_limit",
              "value": "={{ $json.output.total_kwh > 150000 }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "fe6e01d5-cdb7-4407-beb4-7db3ba67dd86",
      "name": "배출량 환산",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9c45d089-b389-4bf0-a1ef-03f4d1ddbdef",
              "leftValue": "={{ $json.exceeds_limit }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b64807b6-3273-42e4-964d-17a95a4466aa",
      "name": "기준치 초과 여부",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        208
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AM96C1G10",
          "mode": "list",
          "cachedResultName": "miles-test"
        },
        "text": "=*[온실가스 배출량 산정]*\n\n*시설:* {{ $json.facility }} ({{ $json.period }})\n*전력 사용량:* {{ $json.total_kwh.toLocaleString() }} kWh\n*CO₂ 배출량:* {{ $json.co2_tons }} tCO₂\n*전기요금:* {{ $json.total_amount.toLocaleString() }}원",
        "otherOptions": {}
      },
      "id": "8a2bb2c8-5c59-4b95-ace7-57ef205f35d3",
      "name": "배출량 결과 기록",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1248,
        112
      ],
      "webhookId": "dfdff235-0679-4f38-bad6-143893577841",
      "credentials": {
        "slackApi": {
          "id": "uMdzErNvUxaoML3G",
          "name": "Slack miles-bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AM96C1G10",
          "mode": "list",
          "cachedResultName": "miles-test"
        },
        "text": "=:warning: *[배출량 기준 초과] {{ $json.facility }}*\n\n*기간:* {{ $json.period }}\n*사용량:* {{ $json.total_kwh.toLocaleString() }} kWh (기준: 150,000 kWh)\n*CO₂:* {{ $json.co2_tons }} tCO₂\n*절감 조치가 필요합니다.*",
        "otherOptions": {}
      },
      "id": "95924db6-3bf2-4f85-a99f-f969d56e66f9",
      "name": "기준 초과 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1248,
        304
      ],
      "webhookId": "6d82f602-e7f6-4987-9b78-421ece92cb6a",
      "credentials": {
        "slackApi": {
          "id": "uMdzErNvUxaoML3G",
          "name": "Slack miles-bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. 입력\n전기 고지서 텍스트\n시설명 입력",
        "height": 260,
        "width": 400,
        "color": 4
      },
      "id": "38bb465e-3ead-4608-b514-68fb7807ae9f",
      "name": "Sticky Note d233",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ]
    },
    {
      "parameters": {
        "content": "## 2. AI 추출 + 환산\n사용량/금액 추출 →\nCO₂ 배출량 계산",
        "height": 452,
        "width": 492,
        "color": 3
      },
      "id": "0b9c8818-58f9-49c6-959c-18c703b8dfff",
      "name": "Sticky Note a618",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        96
      ]
    },
    {
      "parameters": {
        "content": "## 3. 결과 전달\n기준 초과 시 경고 알림\n정상 시 결과 기록",
        "height": 372,
        "width": 424,
        "color": 6
      },
      "id": "44897288-43bf-49b6-8273-e1c5c1060a45",
      "name": "Sticky Note 7880",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        972,
        92
      ]
    }
  ],
  "connections": {
    "고지서 입력": {
      "main": [
        [
          {
            "node": "입력 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력 정리": {
      "main": [
        [
          {
            "node": "고지서 정보 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "고지서 정보 추출": {
      "main": [
        [
          {
            "node": "배출량 환산",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok 모델": {
      "ai_languageModel": [
        [
          {
            "node": "고지서 정보 추출",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "배출량 환산": {
      "main": [
        [
          {
            "node": "기준치 초과 여부",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "기준치 초과 여부": {
      "main": [
        [
          {
            "node": "기준 초과 알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "배출량 결과 기록",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "ea7a84aa-6048-46fd-9c40-1a8afbe55756",
  "activeVersionId": null,
  "versionCounter": 15,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-20T09:04:42.560Z",
      "createdAt": "2026-05-20T09:04:42.560Z",
      "role": "workflow:owner",
      "workflowId": "YOPo1zt7dAoigTP1",
      "projectId": "ncJWdNyuSg3UzANu",
      "project": {
        "updatedAt": "2026-04-15T05:07:55.862Z",
        "createdAt": "2026-04-15T02:45:24.795Z",
        "id": "ncJWdNyuSg3UzANu",
        "name": "민기 송 <miles@infograb.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "37174ab9-c289-40f8-bb1a-6354cc6c8870"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-21T02:30:41.851Z",
      "createdAt": "2026-05-21T02:30:41.851Z",
      "id": "zCqLTSWhITlFn4zB",
      "name": "kolma-openlab"
    }
  ],
  "activeVersion": null
}