showcase/json/20-물류창고 일일결산.json
{
  "updatedAt": "2026-05-21T04:56:42.743Z",
  "createdAt": "2026-05-20T09:03:51.385Z",
  "id": "wOqJBi0Gr9mUpe5L",
  "name": "[콜마교육] #20 물류창고 일일결산",
  "description": "매일 퇴근 전 입출고 데이터를 취합하여 일일결산 리포트 메일 발송",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "e23c540d-1075-4230-8dd0-36deb4a78dd0",
      "name": "매일 퇴근 전",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -80,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $json['file-path'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f86f5d77-4485-4a44-8e7e-5e08f6bc6bb7",
      "name": "입출고 파일 읽기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        112
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "8d6e02c0-3b51-4c20-8957-cead1bac48b2",
      "name": "엑셀 데이터 추출",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        592,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 물류창고 입출고 데이터를 취합하여 일일 결산 리포트를 작성해라.\n오늘 날짜: {{ $now.toFormat(\"yyyy-MM-dd\") }}\n\n데이터:\n{{ JSON.stringify($json.data) }}\n\n리포트 포함 항목:\n- 품목별 입고/출고 수량 합계\n- 현재 재고 현황\n- 이상 항목 (재고 부족, 대량 출고 등)\n\nalert_needed: 항상 true (매일 리포트 발송)\nemail_body: HTML 형식, 표로 정리",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "당신은 물류창고 결산 전문가입니다. Calculator 도구를 사용하여 수량을 정확히 계산하세요."
        }
      },
      "id": "b6476b0d-0c9a-420f-84f9-66d530bf7cef",
      "name": "일일결산 AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1096,
        112
      ]
    },
    {
      "parameters": {
        "model": "grok-4.3",
        "options": {}
      },
      "id": "a9d6ce31-5e5c-4897-aba1-7635e66cfde4",
      "name": "xAI Grok Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        1040,
        336
      ],
      "credentials": {
        "xAiApi": {
          "id": "gkMJxwUMH039B4V0",
          "name": "xAi mingi4754song private"
        }
      }
    },
    {
      "parameters": {},
      "id": "cb7923ec-e8f6-4778-b8eb-aa093adab706",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1168,
        336
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{ \"alert_needed\": true, \"summary\": \"금일 입고 150건, 출고 80건, 재고 이상 없음\", \"email_subject\": \"[물류창고] 일일결산 리포트\", \"email_body\": \"<p>일일결산 리포트...</p>\" }"
      },
      "id": "e365064e-8674-44aa-b1af-f3a1f766f1a1",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1296,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5454b1b-30be-41af-942a-6ef117411aa1",
              "name": "file-path",
              "value": "https://raw.githubusercontent.com/alsrl8/sample-files-for-n8n-practice/main/wOqJBi0Gr9mUpe5L-물류창고-일일결산.xlsx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3b313151-b698-49a8-8472-12b142ff32ed",
      "name": "입출고 파일 위치 가져오기",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        112
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "35c310d7-a264-4bc9-ac33-85be905f45bb",
      "name": "데이터 집계",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        112
      ]
    },
    {
      "parameters": {
        "content": "## 1. 데이터 수집\n스케줄 트리거 → 파일 경로 설정 → 엑셀 읽기 → 데이터 추출 → 집계",
        "height": 256,
        "width": 1060,
        "color": 4
      },
      "id": "d8eff951-ea40-4ffe-8011-848ddbb4de89",
      "name": "Sticky Note0f63",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -114,
        16
      ]
    },
    {
      "parameters": {
        "content": "## 2. AI 분석\nAI Agent가 데이터를 분석하고 일일결산 리포트를 작성",
        "height": 448,
        "width": 420,
        "color": 2
      },
      "id": "c512bbb1-2a8b-40ed-9714-5ca4c3c9bb79",
      "name": "Sticky Note4701",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        998,
        32
      ]
    },
    {
      "parameters": {
        "content": "## 3. 결과 전달\n결산 리포트를 Slack 채널로 발송",
        "height": 272,
        "width": 216,
        "color": 5
      },
      "id": "d8c0add2-ff50-40e2-abf1-babe4ab18da2",
      "name": "Sticky Notef1de",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        32
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AM96C1G10",
          "mode": "list",
          "cachedResultName": "miles-test"
        },
        "text": "={{ $json.output.email_subject }}\n\n{{ $json.output.email_body }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "9b3126e1-8809-4713-9981-b65457c1e259",
      "name": "결산 리포트 발송",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1504,
        112
      ],
      "webhookId": "2b555a20-a0ab-42dc-abce-3339cce0d479",
      "credentials": {
        "slackApi": {
          "id": "uMdzErNvUxaoML3G",
          "name": "Slack miles-bot"
        }
      }
    }
  ],
  "connections": {
    "매일 퇴근 전": {
      "main": [
        [
          {
            "node": "입출고 파일 위치 가져오기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입출고 파일 읽기": {
      "main": [
        [
          {
            "node": "엑셀 데이터 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "엑셀 데이터 추출": {
      "main": [
        [
          {
            "node": "데이터 집계",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "일일결산 AI": {
      "main": [
        [
          {
            "node": "결산 리포트 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "일일결산 AI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "일일결산 AI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "일일결산 AI",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "입출고 파일 위치 가져오기": {
      "main": [
        [
          {
            "node": "입출고 파일 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 집계": {
      "main": [
        [
          {
            "node": "일일결산 AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "8324af48-3ce2-4fc3-8ff4-9e500683b90c",
  "activeVersionId": null,
  "versionCounter": 14,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-20T09:03:51.385Z",
      "createdAt": "2026-05-20T09:03:51.385Z",
      "role": "workflow:owner",
      "workflowId": "wOqJBi0Gr9mUpe5L",
      "projectId": "ncJWdNyuSg3UzANu",
      "project": {
        "updatedAt": "2026-04-15T05:07:55.862Z",
        "createdAt": "2026-04-15T02:45:24.795Z",
        "id": "ncJWdNyuSg3UzANu",
        "name": "민기 송 <miles@infograb.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "37174ab9-c289-40f8-bb1a-6354cc6c8870"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-21T02:30:41.851Z",
      "createdAt": "2026-05-21T02:30:41.851Z",
      "id": "zCqLTSWhITlFn4zB",
      "name": "kolma-openlab"
    }
  ],
  "activeVersion": null
}