showcase/json/22-이어서사용 자동화.json
{
  "updatedAt": "2026-05-21T04:51:21.973Z",
  "createdAt": "2026-05-20T09:04:47.106Z",
  "id": "s7SCsiZ1xsAHUchC",
  "name": "[콜마교육] #22 이어서사용 자동화",
  "description": "Webhook으로 라벨 텍스트를 수신하여 Information Extractor로 자재코드, LOT번호, 유효기한, 제품명을 추출하고 Microsoft Teams 채널에 알림한다.",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "이어서사용 환입 라벨 처리",
        "formDescription": "환입 라벨 내용을 붙여넣으면 자동으로 정보를 추출합니다.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "처리 담당자",
              "fieldName": "handler",
              "requiredField": true
            },
            {
              "fieldLabel": "라벨 내용",
              "fieldType": "textarea",
              "fieldName": "label_text",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "4f10c0f1-200f-4787-9492-1a5a43c09434",
      "name": "환입 라벨 입력",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        208
      ],
      "webhookId": "c26bbc40-7a30-48f7-bec0-b2636c68cfcf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2e2a328-fb89-439d-96d1-8ae2b786cf9d",
              "name": "handler",
              "value": "={{ $json.handler }}",
              "type": "string"
            },
            {
              "id": "479069b6-88e7-44d7-8067-a542ee08d780",
              "name": "label",
              "value": "={{ $json.label_text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1ca6a2ea-4f70-4a67-a485-ddc489e08fd1",
      "name": "입력 정리",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.label }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{ \"material_code\": \"RM-1003\", \"material_name\": \"에탄올 95%\", \"lot_number\": \"ET2026-0412-A\", \"manufacture_date\": \"2026-04-12\", \"expiry_date\": \"2027-04-11\", \"quantity\": \"200 L\", \"supplier\": \"(주)대한솔베이\", \"return_reason\": \"생산계획 변경\" }",
        "options": {
          "systemPromptTemplate": "환입 라벨에서 다음 정보를 정확히 추출하세요:\n자재코드, 자재명, LOT번호, 제조일, 유효기한, 수량, 공급업체, 환입사유\n유효기한이 '해당없음'인 경우 빈 문자열로 반환하세요."
        }
      },
      "id": "5ad7f066-a94e-415c-8d77-5c66cbef21e2",
      "name": "라벨 정보 추출",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "model": "grok-4.3",
        "options": {}
      },
      "id": "50057a75-da88-41b6-81b0-9c664e581b61",
      "name": "xAI Grok 모델",
      "type": "@n8n/n8n-nodes-langchain.lmChatXAiGrok",
      "typeVersion": 1,
      "position": [
        520,
        432
      ],
      "credentials": {
        "xAiApi": {
          "id": "gkMJxwUMH039B4V0",
          "name": "xAi mingi4754song private"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "4b091150-8694-44fd-a1e8-4d4abda15670",
              "leftValue": "={{ $json.output.expiry_date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94a64126-ee55-4f13-bb04-ebc04f8cb465",
      "name": "유효기한 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        208
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AM96C1G10",
          "mode": "list",
          "cachedResultName": "miles-test"
        },
        "text": "=*[환입 등록] {{ $json.output.material_code }}*\n\n*자재:* {{ $json.output.material_name }}\n*LOT:* {{ $json.output.lot_number }}\n*수량:* {{ $json.output.quantity }}\n*유효기한:* {{ $json.output.expiry_date }}\n*환입사유:* {{ $json.output.return_reason }}\n*담당:* {{ $input.first().json.handler }}",
        "otherOptions": {}
      },
      "id": "05762b81-df08-498e-b52d-722116e2a035",
      "name": "환입 등록 + 기한 알림",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        112
      ],
      "webhookId": "a3de3121-1fe8-4964-97ae-28f594e9b9af",
      "credentials": {
        "slackApi": {
          "id": "uMdzErNvUxaoML3G",
          "name": "Slack miles-bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AM96C1G10",
          "mode": "list",
          "cachedResultName": "miles-test"
        },
        "text": "=*[환입 등록 - 포장재] {{ $json.output.material_code }}*\n\n*자재:* {{ $json.output.material_name }}\n*LOT:* {{ $json.output.lot_number }}\n*수량:* {{ $json.output.quantity }}\n*환입사유:* {{ $json.output.return_reason }}",
        "otherOptions": {}
      },
      "id": "2ab7ad7c-1dfd-473e-b823-0351d0fc5136",
      "name": "환입 등록 (포장재)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1024,
        304
      ],
      "webhookId": "9bf89d71-94d1-4c43-a5dd-5fea12889cd6",
      "credentials": {
        "slackApi": {
          "id": "uMdzErNvUxaoML3G",
          "name": "Slack miles-bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## 1. 입력\n환입 라벨 텍스트\n담당자 입력",
        "height": 276,
        "width": 358,
        "color": 4
      },
      "id": "5fedb5f2-e996-404b-bb73-0afba8506a1d",
      "name": "Sticky Note a492",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -19,
        92
      ]
    },
    {
      "parameters": {
        "content": "## 2. AI 추출\n자재코드, LOT, 유효기한\n등 자동 추출",
        "height": 468,
        "width": 256,
        "color": 3
      },
      "id": "0e604d79-d80d-4088-be1e-ec5c1d95610b",
      "name": "Sticky Note 207a",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        96
      ]
    },
    {
      "parameters": {
        "content": "## 3. 등록 알림\n유효기한 유무에 따라\n분기 처리",
        "height": 452,
        "width": 424,
        "color": 6
      },
      "id": "e1126c58-c9da-4356-9016-d4058604d881",
      "name": "Sticky Note 4f07",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        16
      ]
    }
  ],
  "connections": {
    "환입 라벨 입력": {
      "main": [
        [
          {
            "node": "입력 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "입력 정리": {
      "main": [
        [
          {
            "node": "라벨 정보 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "라벨 정보 추출": {
      "main": [
        [
          {
            "node": "유효기한 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xAI Grok 모델": {
      "ai_languageModel": [
        [
          {
            "node": "라벨 정보 추출",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "유효기한 확인": {
      "main": [
        [
          {
            "node": "환입 등록 + 기한 알림",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "환입 등록 (포장재)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "pinData": {},
  "versionId": "bf5d86b9-d64a-41b7-8c03-b468fd6241bc",
  "activeVersionId": null,
  "versionCounter": 19,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-20T09:04:47.106Z",
      "createdAt": "2026-05-20T09:04:47.106Z",
      "role": "workflow:owner",
      "workflowId": "s7SCsiZ1xsAHUchC",
      "projectId": "ncJWdNyuSg3UzANu",
      "project": {
        "updatedAt": "2026-04-15T05:07:55.862Z",
        "createdAt": "2026-04-15T02:45:24.795Z",
        "id": "ncJWdNyuSg3UzANu",
        "name": "민기 송 <miles@infograb.net>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "37174ab9-c289-40f8-bb1a-6354cc6c8870"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-21T02:30:41.851Z",
      "createdAt": "2026-05-21T02:30:41.851Z",
      "id": "zCqLTSWhITlFn4zB",
      "name": "kolma-openlab"
    }
  ],
  "activeVersion": null
}